body,html{height:100%;overflow:hidden;}
/**左侧导航x轴隐藏**/
.el-scrollbar__wrap{
    overflow-x: hidden;
}
/**改变伸缩按钮样式，只能写在这里，因为是js加载后生成的class**/
.el-radio-button__inner{
    background: #c10903;
    color:#fff;
    font-size: 24px;
    padding:5px 10px;
    border:none;
}
.el-radio-button__inner:hover{ color: #fff;}